.react-tel-input .form-control {
    font-size: 14px;
    padding-left: 58px !important;
    padding-right: 14px !important;
    border: none;
    box-shadow: none;
}

.react-tel-input .flag-dropdown {
    background-color: transparent !important;
    border: none !important;
}

.react-tel-input .selected-flag {
    padding-left: 12px;
    padding-right: 8px;
}

.react-tel-input .country-list {
    z-index: 9999 !important;
}